@layer tw_base, radix_ui, tw_components_utilities;


@import "@radix-ui/themes/styles.css" layer(radix_ui);

@layer tw_base {

  @tailwind base;
}

@layer tw_components_utilities {

  @tailwind components;
  @tailwind utilities;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;


}

#root,
#__next {
  height: 100%;
}
